<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class=""> <!--<![endif]-->
<html>
{{= it.include("head", {title:"Broadway Lights | "+it.document.title}) }}

   
    <body class={{= it.document.bodyClass }}>  
    
    
        {{= it.include("header")}}
        <div class="page">
	       {{= it.document }}
        </div>
        
        
    
	<!--site js-->
    <script src="assets/js/components/jquery-3.1.1.min.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
