
@font-face {
    font-family: 'hun-din_1451regular';
    src: url('../fonts/hundin1451-webfont.woff2') format('woff2'),
         url('../fonts/hundin1451-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}