$default-padding:1em;
$default-margin:1em;

$desktop-min-width:1000px;

$wrapper-width:1440px;

$text-yellow:#e8b955;
$text-grey:#9f9f9f;
$text-darkgrey:#777777;
$text-white:#fff;


$border-grey: rgba(159,159,159,0.25);
$border-darkgrey: rgba(159,159,159,0.25);
$border-yellow:rgba(232,185,85,0.45);
$border-lightyellow:rgba(228, 192, 13, 0.5);
